.cart {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cart__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
