

.header-nav {
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    position: fixed;
    background: var(--bg-color);
    box-shadow: 0px 2px 18px 0 rgb(129 162 182 / 20%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 8%;
    transition: .3s;
}

.logo {
    color: var(--text-color);
    font-size: var(--main-font);
    font-weight: 600;
    line-height: 0.8;
}

#menu-icon {
    font-size: 38px;
    color: var(--text-color);
    z-index: 10001;
    display: none;
}

.navbar {
    display: flex;
}

.navbar a {
    font-size: var(--p-font);
    color: var(--text-color);
    font-weight: 600;
    padding: 10px 15px;
    margin: 0 10px;
    transition: all .40s ease;
    border-radius: 10px;
}

.navbar a:hover {
    background: var(--text-color);
    color: var(--bg-color);
}

.icons {
    display:inline-block;
}

.icons i {
    color: var(--text-color);
    font-size: 24px;
    margin-left: 15px;
}

.icons i:hover{
    opacity: 0.7;
}

@media (max-width: 800px){
	#menu-icon{
		display: block;
	}
	header{
		padding: 15px 8%;
	}
	.navbar{
		top: -500px;
		left: 0;
		right: 0;
		position: absolute;
		flex-direction: column;
		background: var(--bg-color);
		box-shadow: 0px 2px 18px 0 rgb(129 162 182 / 20%);
		transition: all .40s ease;
	}
	.navbar a{
		display: block;
		padding: 1rem;
		margin: 0.5rem;
	}
	.navbar.active{
		top: 100%;
	}
}