
#sign-up {
    height: 100vh;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 50px;
    margin-top: 150px;
}

.container {
    position: relative;
    width: 100%;
    max-width: 40rem;
    background: #fff;
    padding: 10rem 0;
    box-shadow: 0 0 20px rgb(33 33 33 / 40%);
    border-radius: 1rem;
    z-index: 1;
    font-size: 7px;
}

.container::before {
    position: absolute;
    content:  '';
    left: 0;
    top: 0;
    height: 27rem;
    width: 100%;
    background: linear-gradient(to right, #59515e, #6d616f);
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    z-index: -1;
}

.heading {
    position: absolute;
    color: white;
    font-size: 3rem;
    top: 3.5rem;
    left: 10rem;
}

form{
    background: #fff;
    transform: translateX(10rem);
    padding: 2rem 0;
    border-radius: 1rem;
    box-shadow: 0 0 20px rgb(33 33 33 / 60%);
    font-size: 1rem;
}

.group {
    position: relative;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: baseline;
}

.group input {
    position: relative;
    width: 100%;
    border: none;
    outline: none;
    padding: 1rem 0;
    margin-top: .6rem;
    color:#59515e;
    font-size: 1.7rem;
}

.group > i {
    color: #59515e;
    font-size: 2rem;
    margin-right: 1rem;
}

.group .col {
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,0.1);
    width: 100%;
    height: 1px;
}

.group button {
    background: linear-gradient(to right, #59515e, #6d616f);
    padding: 1.2rem 2.5rem;
    margin: 3rem auto;
    outline: none;
    border: none;
    font-size: 1.5rem;
    color: white;
    border-radius: 5rem;
}

.group button:focus,
.group button:hover {
    background: linear-gradient(to left, #59515e, #6d616f);
    cursor: pointer;
}

.member {
    text-align: center;
}
.a-btn {
    text-decoration: none;
    color: #59515e;
    font-size: 1.5rem;
    cursor: pointer;
}

.a-btn span {
    color: #59515e;
    font-size: 1.5rem;
    padding-bottom: 2px;
    border-bottom: 2px solid #59515e;
}

@media screen and (max-width: 700px){
    .container::before{
        height: 10rem;
    }
    .heading {
        left: 50%;
        transform: translateX(-50%);
    }
    form {
        transform: initial;
        border-radius: initial;
        box-shadow: none;
    }
}